<!DOCTYPE html>
<html>
  <body>
    <h1>Photos</h1>
    <%= link_to new_photo_path do%>
    New photo
    <%end%>
    <br>
    <br>

    <% @photos.each do |photo| %>
    <% @photo = photo%>
      <%= photo.title %><br>
      <%= image_tag photo.image.url (:medium)%> <br>
      <h2> Comments</h2>
      <%= render photo.comments %>
      <h2> Add a comment: </h2>
      <%= render 'comments/photo_form' %>
    <% end %>
  </body>
</html>
