<h1>Photos</h1>

<%= link_to new_photo_path do%>
New photo
<%end%>
<br>
<br>

<% @photos.each do |photo| %>
  <%= photo.title %><br>
  <%= image_tag photo.image.url (:medium)%> <br>

    <div>
      <%= form_tag "photos/tag", :remote => true do %>
        <%= hidden_field_tag "photo_id", photo.id %>
        <%= submit_tag "Tag", :style => "float:right;" %>
        <%= text_field_tag "tag", "" %>
        <% if tag == true %>
          <% user = Users.where(:email=> tag) %>
          <p> <%= user %> </p>
        <% end %>
      <% end %>
      <strong>In picture:</strong>

    </div>
<% end %>
