<h1>Photos</h1>

<%= link_to new_photo_path do%>
New photo
<%end%>
<br>
<br>

<% @photos.each do |photo| %>
  <%= photo.title %><br>
  <%= image_tag photo.image.url (:medium)%> <br>

    <div>
      <%= form_tag 'photos/tag', :remote => true do %>
        <%= collection_select(:photo, :user_id, User.all, :id, :email, include_blank: false) %>
        <%= submit_tag "User" %>
      <% end %>
      <strong>In picture:</strong>

    </div>
<% end %>
