<h1>Photos</h1>

<%= link_to new_photo_path do%>
New photo
<%end%>
<br>
<br>

<% @photos.each do |photo| %>
  <%= photo.title %><br>
  <%= image_tag photo.image.url (:medium)%> <br>

    <div>
      <%= form_for @tagging, url: { action:'tag' } do |f| %>
        <%= collection_select(:tagging, :user_id, User.all, :id, :email, include_blank: false) %>
        
        <%= f.submit "User"%>
      <% end %>
      <strong>In picture:</strong>

    </div>
<% end %>
