<!DOCTYPE html>
<html>
  <body>
    <% @posts.reverse.each do |post| %>
      <% @post = post %>
      <ul id = 'post_list'>
        <li id = 'post'> <%= return_formatted_url(post.message).html_safe %> posted at <%= post.local_time_stamp%> on <%= post.local_date_stamp %> <br>
           by - <%= @post.user_email %> 
        </li>
      </ul>
      <h2>Comments</h2>
      <%= render post.comments %>
      <h2>Add a comment:</h2>
      <%= render 'comments/form' %>
    <% end %>
    <%= button_to 'New Post', { action: 'new' }, method: :get, class: 'button' %>
  </body>
</html>
