<% @posts.each do |post| %>

<p><%= post.message %> posted at <%= post.time_stamp %> on <%= post.date_stamp %></p>

<h2>Comments</h2>
<%= render post.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<% end %>

<%= link_to new_post_path do %>
New post
<% end %>
