<!DOCTYPE html>
<html>

  <head>
    <title>Acebook</title>
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <script>
    // Facebook SDK async load for Facebook login functionality
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '824017821109588',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.8'
        });
        FB.AppEvents.logPageView();   
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <%= render 'layouts/header' %>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>

</html>
